//components
@import './components/colors';
//webparts
@import './webparts/container';


$color-white: #ffffff;
$color-black: #000000;

$color-primary: #e0f3ed; 
$color-secondary: #fa9c92;
$color-tertiary: #3b3b59;