.container {
    width: 100%;
    
    &--white {
        padding: 2rem 0 0 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: $color-white;
        height: auto;
        border-radius: 1rem 1rem 0 0;
    }
}

.center{
        text-align: center;
}